.body{
    margin-left: 90px;
    margin-right: 50px;  
}
.heading{
    height: 70px;
    margin-bottom: 70px;
    border-top-color: rgb(210, 201, 201);
    border-bottom: solid;
    border-bottom-color: rgb(210, 201, 201) ;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    position: fixed;
    top: 0;
    background-color: white; 
}
.left{
    height: 60px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex: 1;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 80px;
}
.logo1{
    width:150px;
}
.p_and_s{
    display: flex;
    padding-top: 25px;
    margin-right: 80px;
    cursor: pointer;
}
.p_and_s:hover{
    color:grey;
}
.Blog{
    display: flex;
    padding-top: 25px;
    margin-right: 80px;
    cursor: pointer;
}
.blog:hover{
    color:grey;
}
.blog{
    color:black;
    text-decoration:none;
}
.blog:active{
    text-decoration:none;
}
.Support{
    display: flex;
    padding-top: 25px;
    margin-right: 80px;
    cursor: pointer;
}
.Support:hover{
    color:grey;
}
.Trials{
    display: flex;
    padding-top: 25px;
    margin-right: 100px;
    cursor: pointer;
    margin-right: 550px;
}
.trial:hover{
    color:grey;
}
.trial{
    color:black;
    text-decoration:none;
}
.right{
    height: 60px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}
.searchsvg{
    display: flex;
    margin-right: 30px;
}
.searchimg{
    width:20px;
    cursor: pointer;
}
.acc{
   display: flex;
}
.accinfo{
    width:30px;
    cursor: pointer;
}
.bodydiv{
    display: flex;
    flex-direction: row;
    width: max-content;
}
.dp1{
    margin-top: 50px;
}
.dp{
    width: 600px;
    height: 600px;
    border-radius: 300px;
    margin-left: 10px;
    margin-top: 30px;
    margin-right: 100px;
}
.h11{
    display: flex;
    flex-direction: column;
    align-items: top;
    width: 600px;
    height: 350px;
    padding-top: 0;
}
.head{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 700px;
    margin-left: 50px;
    margin-top: 30px;
}
.head1{
    color: rgb(167, 167, 48);
    font-size: 78px;
    font-weight: 500;
    margin-left: 20px;
}
.para{
    display: flex;
    flex-direction: column;
    align-items: top;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 13px;
}
.para1{
    color: rgb(167, 167, 48);
    font-size: 27px;
    font-weight: 300;
    margin-left: 25px;
}
.b1{
    color: white;
    background-color: rgb(12, 72, 236);
    border-radius: 25px;
    border:none;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
    margin-left: 25px;
}
.b1:hover{
    background-color: rgb(55, 86, 172);
}
.bodydiv2{
    display:flex;
    flex-direction: row;
    row-gap: 20px;
    margin-left: 50px;
    margin-top: 80px;
}
.a1{
    background-color: rgb(219, 214, 214);
    border-radius: 25px;
    margin-right: 80px;
    margin-left: 25px;
}
.a11{
    font-size: 40px;
    margin-left: 40px;
    margin-top: 10px;
    font-weight: 700;
    font-style:Arial;
    margin-bottom: 10px;
}
.a12{
    font-size: 20px;
    margin-left: 40px;
    font-weight: 500;
    font-style:Arial;
    margin-right: 40px;
    margin-bottom: 30px;
}
.a13{
    color: black;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid;
    border-width: 3px;
    border-radius:15px ;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 100px;
    cursor: pointer;
}
.a2{
    background-color: rgb(219, 214, 214);
    border-radius: 25px;
    margin-right: 80px;
}
.a21{
    font-size: 40px;
    margin-left: 40px;
    margin-top: 10px;
    font-weight: 700;
    font-style:Arial;
    margin-bottom: 10px;
}
.a22{
    font-size: 20px;
    margin-left: 40px;
    font-weight: 500;
    font-style:Arial;
    margin-right: 40px;
    margin-bottom: 30px;
}
.a23{
    color: black;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid;
    border-width: 3px;
    border-radius:15px ;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 100px;
    cursor: pointer;
}
.a3{
    background-color: rgb(219, 214, 214);
    border-radius: 25px;
    margin-right: 80px;
}
.a31{
    font-size: 40px;
    margin-left: 40px;
    margin-top: 10px;
    font-weight: 700;
    font-style:Arial;
    margin-bottom: 10px;
}
.a32{
    font-size: 20px;
    margin-left: 40px;
    font-weight: 500;
    font-style:Arial;
    margin-right: 40px;
    margin-bottom: 30px;
}
.a33{
    font-size: 20px;
    margin-left: 40px;
    font-weight: 500;
    font-style:Arial;
    margin-right: 40px;
    margin-bottom: 30px;
}
.a34{
    font-size: 15px;
    margin-left: 40px;
    font-weight: 500;
    font-style:Arial;
    margin-right: 40px;
    margin-bottom: 30px;
}
.a35{
    color: black;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid;
    border-width: 3px;
    border-radius:15px ;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 100px;
    cursor: pointer;
}
.sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 70px;
    bottom: 0;
    border-right: solid;
    border-right-color: rgb(210, 201, 201) ;
    background-color: white;
    
}
.fb{
    margin-bottom: 150px;
    margin-right: 58px;
}
.facebook{
    margin-top: 50px;
    margin-left: 45px;
    width: 50px;
    cursor: pointer;
}
.insta{
    margin-bottom: 150px;
}
.instagram{
    margin-left: 45px;
    width: 50px;
    cursor: pointer;
}
.twitter{
    margin-left: 45px;
    width: 50px;
    cursor: pointer;
}
